<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>김경묵과오예린</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<input type="hidden" th:value="${sessionID}" name="writer">
<button class="BoardWrite">글쓰기</button>

<div th:each="list:${dto}">
    <div th:text="${list.getSeq()}">글 번호</div>
    <div><a th:href="@{/Board/detailBoard?(seq=${list.getSeq()})}"><th th:text="${list.getTitle()}"></th></a> </div>
    <div th:text="${list.getWriter()}">작성자</div>
    <div th:text="${list.getWrite_date()}">작성자</div>
    <div th:text="${list.getView_count()}">조회수</div>

</div>


</body>
</html>

<script>
    $(".BoardWrite").on("click",function(){
        location.href = "/Board/Write"
    })

</script>