<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<style>
    *{margin:0; border-sizing:border-box; padding:0;}
    .seq{
        text-align: center;
        margin-top: 100px;
        margin-left: 15px;
    }
    .title{
        margin-left: 20px;
    }
    .contents{
        margin-left: 20px;
    }
</style>
<body>

<form id="form">
        <div th:each="dto:${list}">
            <div class="container">
                <div th:each="dto:${list}">
                    <input type="hidden" th:value="${list.getSeq()}" name="seq" id="seq">
                    <input type="hideen" th:value="${list.getWriter()}" name="writer">
                    <div class="seq row">
                        <div class="seq1 col-sm-1">글번호:<th th:text="${list.getSeq()}"></th></div>
                        <div class="col-sm-5">작성자:<th th:text="${list.getWriter()}"></th></div>
                        <div class="col-sm-4">작성시간:<th th:text="${list.getWrite_date()}"></th></div>
                    </div>
                    <br>

                    <div class="title">
                        <div class="col-sm-2"><input class="form-control" type="text" th:value="${list.getTitle()}" id="title" name="title" ></div>
                    </div>
                    <br>
                    <div class="contents">
                        <textarea class="form-control" id="contents" rows="10" th:text="${list.getContents()}"  name="contents" ></textarea>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <br>
    <div class="comments">
        <hr>
        <textarea id="comments" placeholder="댓글을입력하세요."></textarea>
        <button type="button" id="commentsBtn">댓글작성</button>
    </div>


        <div class="writer row">
            <div class="col-sm-5" ></div>
            <button type="button" id="delete" class="btn btn-primary col-sm-1">삭제하기</button>
            <button type="button" id="update">수정하기</button>
            <button type="button" id="updateOK">수정완료</button>
        </div>
</form>

</body>
</html>
<script>
    $("#delete").on("click",function(){
        let seq = $("#seq").val();
        $("#form").attr("action","/Board/delete?seq="+seq)
        $("#form").submit();
    })
    $("#update").on("click",function(){
        $("#form").attr("action","/Board/update");
        $("#form").submit();
        // $("#update").hide();
        // $("#updateOK").show();
        // $("#title,#contents").removeAttr("readonly"); // readonly가 지워짐.
        // $("#title").focus(); //타이틀에 포커스가 맞춰지고
        //
        // $("#updateOK").on("click",function(){
        //     $("#form").attr("action","/Board/update");
        //     $("#form").submit();
       // })





    })

    $("#commentsBtn").on("click",function(){
        $("#form").attr("action","/Comments/insert")
        $("#form").submit();
    })

</script>